<!DOCTYPE html>
<html>
<head>
    {% embed 'AppBundle:twig_parts/header:frontend_header.html.twig' %}
    {% endembed %}
</head>
<body>
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}


{% block fos_user_content %}
{% endblock fos_user_content %}
</body>
</html>
