<br>
<hr>
<label>
    {% trans %}
        admin.label.user.block.xp
    {% endtrans %}
</label>
<div class="text text-sm view_link">
    <form name="add_xp">
        <input type="text" name="xp" title="xp">
        <input type="submit" formaction="{{ admin.generateObjectUrl('add_xp', object) }}">
    </form>
</div>