<hr>
<label>
    {% trans %}
        admin.label.user.block.structure
    {% endtrans %}
</label>
<div class="text text-sm view_link">
    <form name="add_xp">
        <select name="type" title="type">
            <option value="gym">
                {% trans %}
                admin.label.user.structure.gym
                {% endtrans %}
            </option>
            <option value="garden">
                {% trans %}
                admin.label.user.structure.garden
                {% endtrans %}
            </option>
            <option value="workshop">
                {% trans %}
                admin.label.user.structure.workshop
                {% endtrans %}
            </option>
        </select>
        <input type="text" name="level" title="level">
        <input type="submit" formaction="{{ admin.generateObjectUrl('level_up_structure', object) }}">
    </form>
</div>