<html>
<head>
    {% embed 'AppBundle:twig_parts/header:frontend_header.html.twig' %}
    {% endembed %}
</head>
<body>
{% embed 'AppBundle:twig_parts/panel:control_panel.html.twig' %}
{% endembed %}

</body>
</html>
