{% embed 'AppBundle:twig_parts/panel:control_panel.html.twig' %}
{% endembed %}
<div class="container">
    <div class="row">
        <div class="absolute-center is-responsive">
            <div class="bs-component text-center">
                <img src="{{ asset('bundles/app/images/logo/black_cat_logo.png') }}">
            </div>
            <div class="well">
                <div class="bs-component">
                    {{ form_start(form,{'method': 'post', 'action': path('fos_user_registration_register')}) }}
                    <div class="row text-center input-group">
                        <span class="input-group-addon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="row text-center input-group">
                        <span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="row text-center input-group">
                        <span class="input-group-addon glyphicon glyphicon-lock" aria-hidden="true"></span>
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="row text-center input-group">
                        <span class="input-group-addon glyphicon glyphicon-lock" aria-hidden="true"></span>
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="row text-center">
                        <input class="btn btn-primary form-control" type="submit"
                               value="{{ 'register.form.submit'|trans }}"/>
                    </div>
                    {{ form_end(form) }}
                    <div class="row text-center=">
                        <a class="btn btn-info form-control" href="/login">{{ 'register.form.login' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>