{% embed 'AppBundle:twig_parts/panel:control_panel.html.twig' %}
{% endembed %}
<div class="container">
    <div class="row">
        <div class="absolute-center is-responsive">
            <div class="bs-component text-center">
                <img src="{{ asset('bundles/app/images/logo/black_cat_logo.png') }}">
            </div>
            <div class="well">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="bs-component">
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        {% endif %}
                        <div class="row text-center input-group">
                            <label for="username" class="input-group-addon">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </label>
                            <input class="form-control" type="text" id="username" name="_username"
                                   value="{{ last_username }}" required="required"/>
                        </div>
                        <div class="row text-center input-group">
                            <label for="password" class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </label>
                            <input class="form-control" type="password" id="password" name="_password"
                                   required="required"/>
                        </div>
                        <div class="row text-center">
                            <input type="submit" id="_submit" name="_submit" value="{{ 'login.form.submit'|trans }}"
                                   class="btn btn-primary form-control"/>
                        </div>
                    </form>
                    <div class="row text-center=">
                        <a class="btn btn-info form-control" href="/register">{{ 'login.form.register' | trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>