{% block header %}
    {% embed 'AppBundle:twig_parts/header:meta.html.twig' %}
    {% endembed %}
    {% embed 'AppBundle:twig_parts/header:css.html.twig' %}
    {% endembed %}
    {% embed 'AppBundle:twig_parts/header:javascript.html.twig' %}
    {% endembed %}
{% endblock %}