{% block panel %}
    <div class="navbar navbar-inverse">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                {#todo brand logo#}
                Ide kerülhetne valami inkább viszintes logo
            </a>

            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" id="profile" class="dropdown-toggle" data-toggle="dropdown">
                            {{ app.user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="profile">
                            <li>
                                <a href="/logout">
                                    {{ 'panel.profile.logout'|trans }}
                                </a>
                            </li>
                            {# <li class="divider"></li> #}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="/login">{{ 'panel.login' | trans }}</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
{% endblock %}